#upload{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    width: 400px;
    height:300px;
    border: 2px #fff dashed;
    color: #fff;
    flex-direction: column;
    border-radius: 10px;
}
#upload:hover{
    background-color: #333;
}